// Custom styles.

// 1. 新增背景图

body{
    background:url(http://pic1.win4000.com/wallpaper/2019-04-19/5cb972785fa64.jpg);    
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
