// Custom styles.

// 1. 新增背景图

body{
    //#ackground:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557476558219&di=c9a921f789cf1b04228867959f9f3387&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201805%2F20%2F20180520024958_H3SvX.jpeg);
    background:url(https://imgsa.baidu.com/forum/w%3D580/sign=39def4d915d8bc3ec60806c2b28aa6c8/ab956259252dd42a7d6b40480f3b5bb5c8eab836.jpg)
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
